* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans HK", sans-serif;
}

body {
    background-color: rgb(229, 229, 229);
}

.heading {
    background-color: rgb(255, 255, 255);
    width: 55vw;
    height: 10vh;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0);
    border: none;
}

.heading h1 {
    padding: 10px;
    font-weight: 800;
}

.main-container {
    background-color: rgb(255, 255, 255);
    width: 55vw;
    height: auto;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0);
    padding: 15px;
}

.input-box {
    background-color: rgba(201, 201, 201, 0.238);
    width: 100%;
    /* height: 8vh; */
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.input-box input {
    width: 90.5%;
    /* height: 3em; */
    font-size: 25px;
    padding: 8px 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.input-box input::placeholder {
    color: rgba(187, 187, 187, 0.611);
}

.input-box:hover {
    background-color: rgba(209, 209, 209, 0.825);
}

.add-btn {
    cursor: pointer;
}

.add-btn:active {
    scale: 1.1;
}

.complete-clear {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1.5px solid rgb(203, 203, 203);
    font-size: 15px;
    color: grey;
    font-weight: 400;
}

.complete-clear *:hover {
    color: black;
}

.complete-clear div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tick {
    filter: invert(0.8);
    margin-right: 10px;
}

.tasklist-box {
    border-bottom: 1.5px solid rgb(203, 203, 203);
    margin: 10px 0px;
    padding: 15px 0px;
}

.task {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
    font-size: 22px;
}
.task img {
    filter: invert(1);
    cursor: pointer;
}
.task:hover img{
    filter: none;
}
.task:hover {
    background-color: rgba(201, 201, 201, 0.238);
}
.task p {
    width: 85%;
    padding: 10px;
    text-align: left;
    font-weight: 500;
    /* text-decoration:line-through; */
}
.task input {
    appearance: none;
    margin: 0;
    font: inherit;
    width: 1.3em;
    height: 1.3em;
    border: 0.13em solid;
    border-radius: 1em;
    /* transform: translateY(-0.075em); */
    display: grid;
    place-content: center;
    cursor: pointer;
}
.task input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    /* transition: 120ms transform ease-in-out; */
    box-shadow: inset 1em 1em black;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.task input:checked::before {
    transform: scale(1);
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-size: 15px;
    color: grey;
}
#task-num {
    color: black;
    font-weight: 800;
}
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.filter > p {
    cursor: pointer;
}
.filter > p:hover {
    color: black;
}

.strike {
    text-decoration: line-through;
}
.selected {
    color: black;
}